@charset "UTF-8";

header {
    background-color: #666;
}
.navbar-nav {
    margin-left: auto;
}
header .navbar-nav {
    margin-left: auto;
}
header .dropdown-menu {
    background-color:rgb(233, 215, 60)
}
header .dropdown-menu a:active{
    background-color:rgb(233, 215, 60)
}
header .dropdown-menu p:active{
    color: #000;
}
header .dropdown-menu a:hover{
    background-color:rgb(255, 230, 0)
}
#navbarDropdownMenuLink {
    color: #ffffff;
}
#navbarDropdownMenuLink:hover {
    color: rgb(255, 230, 0)
}
#nav_button {
    color: #ffffff;
}
#nav_button:hover {
    color: rgb(255, 230, 0)
}


footer {
    background-color: #666;
    padding: 5px;
}
footer li {
    text-align: center;
    list-style: none;
    color: #fff;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    text-decoration: none;
    color: rgb(233, 215, 60);
}

footer .col p {
    margin: 0;
    text-align: center;
    color: #000;
}
footer #footer_sitemap {
    margin: 20px 0 20px 0;
}

main {
    padding: 20px;
}
/* index */
video {
    width: 100%;
    clip-path: inset(10px);
    margin: -10px;
    text-align : center;
}
.index_photo img {
    width: 100%;
}


/* team */
.group_photo .img-fluid { /* 集合画像 */
    width: 100%;
}

.kakomi-box3 { /* シンプル 枠（影）1 */
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    background-color: #fff; /* 背景色 */
    /*box-shadow: 1px 1px 2px #ccc; */
    border: 1px solid #ccc;
}

.indvidual_photo { /* 個人画像 */
    text-align: center;
}
.col .img-fluid { /* 個人画像丸にする */
    border-radius:50%;
}

.team_intro h1 { /* teamの見出し */
    border-bottom: 5px solid #bebebe;
    padding-bottom: 5px;
    text-indent: 1em;
}

.team_intro .container{
    width: 70%;
}

/* elsi */
.elsi h1 {
    border-bottom: 5px solid #bebebe;
    padding-bottom: 5px;
    text-indent: 1em;
}
.elsi_card .col {
    margin: 10px;
}


/*ナビゲーションの固定*/
/*ナビゲーションの固定*/

#sub-area nav{
    /*stickyで固定*/
    position: -webkit-sticky;/*Safari*/
	position: sticky;
    /*固定したい位置*/
	top: 200px;
    /*ナビゲーションの形状*/
    background:#fff;
	border: 1px solid #eee;
	box-shadow:0 0 5px #ddd;
	padding: 20px;
}

/*レイアウトのためのCSS*/
#container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#main-area{
	width:75%;
}

#sub-area{
	width:20%;
	padding: 0 20px 0 0;
}
/*768px以下の見え方*/
@media screen and (max-width:768px){
#main-area{
	width:100%;
}

#sub-area{
	width:100%;
	padding: 20px;
}

#sub-area nav{
	position:relative;/*stickyからrelativeに戻す*/	
    top:0;
}
}
/* 以下は検証用のレイアウトのための CSS*/
#sub-area nav ul li a{
    text-decoration: none;
    color: #666;
    padding:10px;
}
#main-area section{
    padding:30px 0 100px 30px;
}

/*========= 現在地表示のためのCSS ===============*/
/* 以下はレイアウトのための CSS*/
#sub-area nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#sub-area nav ul li a{
    display: block;
    transition:all 0.3s;
}

#sub-area nav ul li.current a,
#sub-area nav ul li a:hover{
    color:rgb(233, 215, 60);
}

@media screen and (max-width:768px) {
    #sub-area nav ul li a:hover{
    color: #666;
    }

    #sub-area nav ul li.current a {
    color:rgb(233, 215, 60);
    }
}


